@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Looking for help with an accessibility skill, but not sure who to contact? Look no further because that is the purpose of this site.</p>
