@model CorgiDev.StaffDirectoryProject.Models.Entry

@{
    ViewBag.Title = "Add Staff Listing";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_EntryForm")

@*
    // TODO: Check if employee ID already in database.
    // TODO: If Employee ID already in list, fail to submit
    // TODO: If successful, return entry to view
    // TODO: Redirect to Index view
*@

