@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@*
    // TODO: Check if employee ID already in database.
    // TODO: If Employee ID already in list, fail to submit
    // TODO: If successful, return entry to view
    // TODO: Redirect to Index view
*@

