@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Imagination Way<br />
    Hirakata-shi, Osaka, JAPAN<br />
    <abbr title="Phone">P:</abbr>
    Not available yet
</address>

<address>
    <strong>CorgiDev Home:</strong> <a href="http://corgidev.com">Http://corgidev.com</a>
</address>